<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Remote MSI Manager" Language="1033" Version="!(bind.FileVersion.MainFile)" Manufacturer="EasyCompany" UpgradeCode="D9C37E9D-CCAB-BA5E-1DEA-3C71BAF15DC8">
    <Package Manufacturer="EasyCompany" Comments="A small application to show MSI Products installed on the local or a remote computer. It, also, allows to uninstall those MSI Products." InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of Remote MSI Manager is already installed." AllowSameVersionUpgrades="yes"/>    
    <MediaTemplate EmbedCab="yes"/>
        
    <Property Id="VERSION" Value="!(bind.FileVersion.MainFile)"/>
    <Property Id="ARPNOMODIFY" Value="1"/>
    <Property Id="ARPCONTACT" Value="https://github.com/DCourtel/Remote_MSI_Manager/issues"/>
    <Property Id="ARPPRODUCTICON" Value="MainIconForProgramMenu.exe"/>
    <Property Id="ARPHELPLINK" Value="https://github.com/DCourtel/Remote_MSI_Manager/wiki"/>
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/DCourtel/Remote_MSI_Manager/blob/master/README.md"/>
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/DCourtel/Remote_MSI_Manager"/>
    <Property Id="ARPCOMMENTS" Value="Show MSI Products installed on the local or a remote computer."/>

    <Feature Id="ProductFeature" Title="Remote Msi Manager" Level="1" InstallDefault="local" Absent="disallow" AllowAdvertise="no">
      <ComponentGroupRef Id="cg_RemoteMsiManager"/>
      <ComponentRef Id="SoftwareRegistryValues"/>
    </Feature>
  </Product>
</Wix>